
<div class="custom-border-color-1">
  <div class="custom-border-color-2">
    <div class="custom-border-color-3"> 
      <div class="custom-border-color-4">
      	<h1>Anastasia and Axe Roleplay Forum</h1>
					<p>Check out the
					  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
					</p>
			</div>
		</div>
	</div>
</div>

