@import "variables";
@import "deps";
@import "app";

.custom-border-color-1{
	background: url("roleplayanabackground.png");
	padding: 10px 5px;
}

.custom-border-color-2{
	background-color: black;
	padding: 10px 5px;
}

.custom-border-color-3{
	background: url("roleplayanabackground.png");
	padding: 10px 5px;
}

.custom-border-color-4{
	background-color: black;
	padding: 10px 5px;
}

.custom-border-color-5{
	background: url("roleplayanabackground.png");
	padding: 10px 5px;
	margin: 0 auto;
	max-width: 900px;
}

.custom-background-img{
	background: url("anasimg.png") !important;
}