@import "variables";
@import "deps";
@import "app";

.custom-border-color-1{
	background: url("roleplayanabackground.png");
	padding: 10px 5px;
}

.custom-border-color-2{
	background-color: black;
	padding: 10px 5px;
}

.custom-border-color-3{
	background: url("roleplayanabackground.png");
	padding: 10px 5px;
}

.custom-border-color-4{
	background-color: black;
	padding: 10px 5px;
}

.custom-border-color-5{
	background: url("roleplayanabackground.png");
	padding: 10px 5px;
	margin: 0 auto;
	max-width: 900px;
}

.custom-background-img{
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 400px;
  background: url("anasimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

.custom-pull-down{
	color: black;
}
.custom-pull-down-1{
	color: black;
}
.custom-pull-down-1 a {
	color: black;
}
.custom-pull-down a {
	color: black;
}